@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>Это наша политика приватности.</b></p>
<h3 style="font-style:oblique">Запрещается выдавать эту работу за свою!</h3>
<h4>Используя эту работу, под другим наименованием вы соглашаетесь сдать нам свою душу в аренду на бессрочный период.</h4>